---
layout: layouts/base.njk
title: Blog
templateClass: tmpl-post
eleventyNavigation:
  key: Blog
  order: 2
---

  <h2>All posts</h2>
  {% set postslist = collections.posts | reverse %}
  
  <ul>
  {% for post in postslist %}
    <li>
      <a href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
      <time  datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    </li>
  {% endfor %}
  </ul>